.bg {
    background-image: url(/img/index/bg.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
}
.imagem {
    width: 15;
    height: 15;
}

.h1 {
    color: white;
    text-align: center;
    font-family: 
    font-size: 30px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.h2 {
    color: white;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.h3 {
    color: white;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.h4 {
    color: white;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.p {
    color: white;
    text-align: left;
    left: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}