.h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.h2 {
    color: black;
    text-align: center;
    font-size: 22px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.h3 {
    color: black;
    text-align: center;
    font-size: 15px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.h4 {
    color: black;
    text-align: center;
    font-size: 12px;
    position: relative;
    margin: auto;
    border-radius: 0px;
    box-shadow: 25px 10px 10px 10px silver;
}
.p {
    color: black;
    text-align: justify;
    font-size: 20px;
}